.todo-header{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
    
}
.list-item{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}